@{
    ViewData["Title"] = "Trabalhe";
}
<div>
    <h3>Quem Somos:</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis
        deleniti ipsa voluptatem eius quas ducimus sed iste nisi error magnam
        odit perspiciatis, reiciendis modi molestiae? Incidunt mollitia ea
        repellat dolorem.
    </p>
</div>
<div>
    <h3>Visão</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet corrupti
        non odio ipsam quidem, distinctio minus temporibus sequi. Molestias esse
        deleniti ullam aspernatur dolore excepturi autem veniam quibusdam odio
        deserunt.
    </p>
</div>
<div>
    <h3>Missão</h3>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi
        distinctio eligendi est maxime modi quas iusto quam rerum illum sed
        pariatur deleniti officiis quia ab mollitia animi amet, dolor in?
    </p>
</div>