@{
    ViewData["Title"] = "Produtos e Serviços";
}

<body>
    <h1>Vantagens de ser cliente Conta Corrente</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo praesentium
        consequuntur veniam dignissimos necessitatibus deserunt dolore commodi
        ullam earum, dolores, accusantium hic facilis ducimus itaque explicabo
        inventore quod perferendis eveniet.
        <button class="btn btn-outline-primary"><a href="../Cliente/Cadastro"> Seja Um Cliente</a></button>
    </p>
    <h1>Vantagens de ser cliente Conta Pupança</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo praesentium
        consequuntur veniam dignissimos necessitatibus deserunt dolore commodi
        ullam earum, dolores, accusantium hic facilis ducimus itaque explicabo
        inventore quod perferendis eveniet.
        <button class="btn btn-outline-primary"><a href="../Cliente/Cadastro">Seja Um Cliente</a></button>
    </p>
</body>