@model Cliente;
@{
    ViewData["Title"] = "Acesso";
}

<body>
    <h1>Olá, Cliente.Nome</h1>
    <h3>Dados da conta</h3>
    <p>Conta: 1233</p>
    <p>Agência: 456</p>
    <p>Saldo:R$ 20,00</p>
<div>
    <button class="btn btn-outline-primary"><a href="/Cliente/Depositar">Deposito</a></button>
    <button class="btn btn-outline-primary"><a href="/Cliente/Sacar"> Saque</a></button>
</div>
</body>
