@model Cliente;
@{
    ViewData["Title"] = "Acesso";
    var cliente = new Cliente();
}
 <body>
    <h1>Olá,@cliente.Nome </h1>
    <p>CPF: @cliente.Cpf</p>
    <h3>Dados da conta</h3>
     <p>Conta:@cliente.Numero_conta </p>
    <p>Agência: @cliente.Agencia</p>
    <p>Saldo:R$@cliente.Saldo</p>
    <div>
      <button class="btn btn-outline-primary"><a href="/Cliente/Depositar?id=@cliente.Id_cliente">Deposito</a></button>
      <button class="btn btn-outline-primary"><a href="/Cliente/Sacar?id=@cliente.Id_cliente"> Saque</a></button>
    </div>
 </body>
