@model Cliente;
@{
    ViewData["Title"] = "Acesso";
}

<body>
    <h1>Olá, Cliente.Nome</h1>
    <h3>Dados da conta</h3>
    <p>Conta: 1233</p>
    <p>Agência: 456</p>
    <p>Saldo:R$ 20,00</p>
    <div>
        <button>Sacar</button>
        <button>Depositar</button>
    </div>
</body>
