@model Cliente;
@{
    ViewData["Title"] = "Acesso";
}


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore error iusto, non dolorem amet sed pariatur voluptas
    magni similique eaque natus quia, itaque libero ratione nam quis ut. Natus, laboriosam?</p>