@model Conta;
@{
    ViewData["Title"] = "Sacar";
}
<form asp-action="Sacar" method="post">
    
    <div class="mb-3">
        <label asp-for="ValorSaque" class="form-label">Valor Saque: </label>
        <input asp-for="ValorSaque">
    </div>
    <div class="mb-3">
        <input type="Submit" value="Enviar" class="btn btn-outline-primary">
    </div>
</form>
<p>@ViewBag.Mensagem</p>