@model Banco;
@{
    ViewData["Title"] = "Sacar";
}
<form asp-action="Depositar" method="post">
    <div class="mb-3">
        <label asp-for="Saque" class="form-label">Valor Saque: </label>
        <input asp-for="Saque">
    </div>
    <div class="mb-3">
        <input type="Submit" value="Enviar" class="btn btn-outline-primary">
    </div>
</form>
<p>@ViewBag.Mensagem</p>