@model Conta;
@{
    ViewData["Title"] = "Dados Bancarios";
}
<form asp-action="CadastroConta" method="POST">
    <div class="mb-3">
        <label asp-for="NumeroConta" class="form-label">Numero Conta: </label>
        <input asp-for="NumeroConta" />
    </div>
    <div class="mb-3">
        <label asp-for="Agencia" class="form-label">Agencia: </label>
        <input asp-for="Agencia" />
    </div>
    <div class="mb-3">
        <label asp-for="Saldo" class="form-label">Primeiro Deposito R$: </label>
        <input asp-for="Saldo" />
    </div>

    <div class="mb-3">
        <input type="Submit" value="Enviar" class="btn btn-outline-primary">
    </div>
</form>