@{
    ViewData["Title"] = "Cadastro Cliente";
}
<form action="Login" method="POST" class="row g-3 align-items-center">
    <div class="col-auto">
        <label for="login" class="col-form-label">Login</label>
        <input type="text" class="col-form-control" id="login" />
    </div>
    <div class="col-auto">
        <label for="senha" class="col-form-label">Password</label>
        <input type="password" class="col-form-control" id="senha" />
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>